node_modules
build
.DS_Store
#package-lock.json
.services-cache
reports
tools
.prettierrc
.vscode/
node_modules/
package-lock.json
mochawesome-report/
screenshots/
videos/
npm-debug.log
ci-configFiles
cypress/config/secret-keys
allure-report
allure-results
.env



